
<div style="padding: 10px">
  <div class="card">
    <div class="container">
      <h4><b>Saiba de onde surgiu o herói</b></h4> 
      <p>Tudo teve início dos anos 60, quando a editora de quadrinhos americana Marvel estava em busca de um herói para competir no mercado com sua rival DC (produtora de Superman, Batman, entre outros).</p>
      
      <p>Foi então que o nova-iorquino Stan Lee teve a brilhante ideia de criar um personagem capaz de se identificar com os jovens leitores. Assim surgiu o Homem-Aranha, um adolescente que enfrenta problemas e dilemas típicos da idade, mas que usa sua identidade secreta e seus superpoderes para ajudar as pessoas.</p>

      <h4><b>Veja a trajetória do Homem-Aranha nos cinemas</b></h4>

      <p>Criado para os quadrinhos, o Homem-Aranha se transformou em um dos heróis mais populares do planeta. Não era de se esperar que suas histórias também fizessem sucesso em adaptações para o cinema, não é mesmo?</p>

      <p>No total, o herói tem 11 filmes, o que inclui participações em produções de outros super-heróis. Os 3 primeiros foram protagonizados por Tobey Maguire, 2 pelo ator Andrew Garfield e 5 por Tom Holland (sendo 3 com os Vingadores), além de uma animação. A seguir, conheça a ordem de lançamento nos cinemas:</p>
    </div>
  </div>

</div>
